.container {
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  padding-top: 2rem;
}

.weather {
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 50px auto;
  background: white;
  
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.search input {
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: azure;
  color: #000;
  border-radius: 30px;
  flex: 1;
  margin-right: 12px;
}

.search button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search button img {
  width: 20px;
}

.winfo.icon {
  margin-top: 20px;
  width: 170px;
}

.winfo h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}

.winfo h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -20px;
}

.winfo img {
  width: 180px;
  padding-top: 2rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}

.details .col{
  display: flex;
  align-items: center;
  text-align: left;
}

.details .col img{
  width: 40px;
  margin-top: 8px;
  padding-bottom: 2rem;
  
}

.humidity, .wind {
  font-size: 20px;
  padding-left: 1rem;

}

.humidity p, .wind p{
  margin: 0px;
}

.error{
  color: red;
  text-align: left;
  margin-right: 10px;
}
